* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 110px;
  border-bottom: 0.5rem solid #8b008b;

  display: flex;
  align-items: center;

  box-shadow: 10px 5px 5px gray;
}

.bannerHeader {
  height: 100px;
  border-radius: 15%;
}

.textHeader {
  color: #8b008b;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.main {
  flex: 100%;
}

.label {
  text-decoration: underline;
}

.lesson {
  min-height: 10px;
  margin: 10px;
  padding: 5px;

  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;

  background-color: white;
}

.lesson:hover {
  transform-origin: left top;
  transform: scale(1.3);
  width: 75%;
  transition: transform 0.5s ease-in-out;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: fit-content;
  margin-top: 10px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #f6e4e3;
  /* background-color: rgb(0, 254, 153); */
}

.container {
  /* background: #2f3640; */
  padding: 10px;
  border-radius: 50px;
  display: flex;
}

input {
  background: none;
  border: none;
  transition: 0.4s;
  width: 0px;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: #39ff14; */
  /* color: white; */

  box-shadow: 0px 0px 10px #39ff14 inset;

  border: 2px solid #39ff14;
}

.container:hover input {
  width: 240px;
  border: solid #39ff14 0.5px;
  box-shadow: 0px 0px 3px #39ff14, 0px 0px 3px #39ff14 inset;
}

.container:hover button {
  background: #8b008b;
  box-shadow: 0px 0px 10px #39ff14;
  color: white;
}

.square {
  box-shadow: 0px 0px 10px #8bf711, 0px 0px 10px #8bf711 inset;

  border: 2px solid #8bf711;
  height: 100px;
  width: 100px;
}

/*  Digital Clock v3*/

@font-face {
  font-family: "FX_LED";
  src: url("fonts/FX_LED.TTF");
}

@font-face {
  font-family: "Hack";
  src: url("fonts/Hack-Bold.ttf");
}

.digital-clock {
  background-color: #000;
  color: #fff;
  display: flex;
  border-radius: 2rem;
  user-select: none;
  padding: 0 2rem;
  border: 0.5rem solid #2d2d2d;
  width:fit-content;
  margin: 10px auto;

}

.week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  color: #2d2d2d;
  font-weight: bold;
  font-family: "Hanck";
  font-size: 0.5rem;
}

.week .active {
  color: white;
}

.time {
  font-family: "FX_LED";
}

.hour, 
.min,
.dot {
  display: inline-block;
  font-size: 5rem;
}

.min {
  display: math;
}

.invsible {
  visibility: hidden;
}

/* END: Digital Clock v3 */