* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin-left: 10px;
}
h1,
h2 {
  color: darkcyan;
}

.form {
  margin: 10px 0px;
}

.btnContainer {
  margin: 10px 0px;
}

.list {
}

.caseStyle {
  /* color: red; */
  text-decoration: underline;
  width: 400px;
  min-height: fit-content;
  margin: 10px 0px;
  border: 0.5px solid black;
  padding: 0px 10px;
}

.caseStyle:hover {
  color: red;
  background-color: aquamarine;
}
