* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 150px;
  background-image: url(cinema_baner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.logo {
  position: fixed;
  opacity: 60%;
}

nav {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > div {
  display: flex;
  align-items: flex-end;
}

nav > div > h3 {
  color: white;
  opacity: 60%;
  white-space: nowrap;
}

nav > div > h3:hover,
.logo:hover {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 100%;
}

main {
  padding: 10px 100px;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: #616d91;
}

h1 {
  color: white;
  height: 100%;
}

.galleryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-auto-columns: 200px; */
  /* grid-auto-rows: 100px; */
  gap: 10px;
  width: 60%;
  margin-bottom: 20px;
  justify-content: center;
}

.containerGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.imgGrid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgLabel {
  text-align: center;
  background-color: bisque;
  color: rgb(15, 90, 4);
}

footer {
  height: 80px;
  background-color: #353b4d;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 412px) {
  .header {
    /* background-image: none; */
    height: 100px;
    /* background-color: #353b4d; */
    padding: 0px;
  }

  .logo > img {
    height: 100px;
  }
  nav {
    display: none;
  }

  .galleryGrid {
    width: 100%;
  }
  .galleryGrid {
    grid-template-columns: 1fr;
  }
}
